body {
    margin: 0;
    font-family: Chromatica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

      background-color: #f9f5f1;
  
  }
  
  code {font-family: Chromatica, sans-serif;
  }